.header {
    max-width: 880px;
    margin: auto auto 36px;
    padding-top: 45px;
    border-bottom: 1px solid #a5a5a5;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .header {
        max-width: 600px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 320px;
        padding: 27px 0 31px;
        margin: 0 auto;
        align-items: center;
        flex-direction: column-reverse;
    }
}