.profile__info {
    margin: 22px 30px 30px;
    max-width: 336px;
    display: grid;
    grid-template-rows: auto;
    gap: 0 18px;
}

@media screen and (max-width: 1023px) {
    .profile__info {
        max-width: 306px;
        gap: 14px 12px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 767px) {
    .profile__info {
        max-width: 282px;
        gap: 10px 10px;
        flex-direction: column;
        grid-template-columns: max-content 25px;
    }
}